.hero {
	&__text {
		text-align: center;

		h1 {
			font-size: 2.4rem;
			font-weight: 600;
			color: $dark-blue;
			line-height: 1.15;
			margin-bottom: 1.5rem;
		}

		p {
			line-height: 1.5;
			margin-bottom: 2.25rem;
		}

		a {
			display: inline-block;
		}
	}

	&__image {
		background-image: url('/images/bg-intro-mobile.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: 17.5rem;
		position: relative;

		&::before {
			content: ' ';
			height: 100%;
			width: 100%;
			background-image: url('/images/image-mockups.png');
			background-size: 92%;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
		}
	}
}
